/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.4
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/


/*
please, add styles to shortcode box
*/


/* -------------------------
		  SRR
--------------------------- */
.one-sixth.customsixSchema {
      text-align: center;
      padding-top: 15px;}


[itemprop="name"] {
    color: #02488D;
    font-size: 1em;
    font-weight: 700;}

.patients {
    line-height: 1em;
    font-weight: 600;
    font-size: 1em!important; 
	}
  

/* -------------------------
		  ESRR
--------------------------- */

/* -------------------------
		  kyle
--------------------------- */
.w-person-role {
  font-size: 1em;
  margin-bottom: 10px;
  opacity: 0.5;
font-weight: bold;}
.one-half.top-background,.full-width.bot-background {
    background-color: rgba(255,255,255,.7);
    padding: 20px;
    border-radius: 5px;
}
/* -------------------------
		  kyle
--------------------------- */



/* -------------------------
		mainCustom
--------------------------- */

svg.svgicon {display: block;margin: 0 auto;padding-bottom: 5%;}
.wpb_wrapper p a {font-weight:bolder;}
.l-subheader .w-contacts-item:before { vertical-align: middle!important; }

/* -------------------------
    MOBILE-FIRST APPROACH
--------------------------- */

.l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,
.l-header .w-nav-item.level_2.current-menu-item .w-.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1,
nav-anchor.level_2,
.l-header .w-nav-item.level_2.current-menu-item .w-nav-anchor.level_2 {
	color: #FFFFFF!important;
}
.l-subheader .w-contacts-item i {
	font-size: 1.8em;
	color: #248850;
	line-height: 1.1em;
}
.l-subheader .w-contacts-item.for_phone .w-contacts-item-value {
	font-family:'Josefin sans';
	font-size: 2em;
	color: #248850;
	line-height: 1em;
}
.headerpos_fixed .no_fixed .l-subheader.at_top {
	padding-bottom: 5%!important;
}
.l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	background: transparent!important;
}
.w-socials-item-link i {
	font-size: 1em;
	line-height: 36px;
	position: relative;
	vertical-align: top;
	padding-right: 5%!important;
	color: #46403C;
}
.w-socials-item-link:hover i, .w-socials-item-link i:hover {
	color: #fff;
}
.l-subheader .w-socials-list {
	padding-top: 7px;
	margin-left: -10%;
}

.l-subheader .w-contacts-item {
	margin: 5% 0 0 0;
}
.l-subheader.at_top, .l-subheader.at_middle {
	background-color: rgba(243, 235, 220, 0.9)!important;
}
.l-subheader.at_middle ul li a {
	color: #142620!important;
}
.l-subheader.at_middle ul li a:hover {
	color: #fff!important;
}
.l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1 {
	color: #346449!important;
	background-color: transparent!important;
}
.l-subheader .w-search-show i {
	color: #346449;
}
.l-header .w-nav-list.level_2, .l-header .w-nav-list.level_3, .l-header .w-nav-list.level_4 {
	background-color: #E9E2D1!important;
}
.g-btn, button, input[type="submit"] {
	white-space: normal!important;
}
.g-btn.color_primary.size_big {
	color: #346449;
	background-color: #F3EBDC;
}
.g-btn.color_secondary.size_big {
	color: #F3EBDC;
	background-color: #346449;
}
div#nav_menu-2 {
	background-color: #fff;
	padding: 2%;
	border-top: 11px solid #346449;
	border-radius: 3%;
}
.bna {
	position: relative!important;
	width: 100%!important; /* for IE 6 */
	max-width: 300px;
	display: block;
	margin: 0 auto;
}
.bna h2 {
	position: absolute!important;
	bottom: -9px!important;
	left: 0!important;
	width: 100%!important;
	font-size: 1.25em;
	font-weight: bold;
	color: #eee;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
}
.l-subfooter.at_bottom a,
.l-subfooter.at_bottom .w-copyright {
	color: #F3EBDC!important;
	font-size: 1.3em!important;
}
.wpb_row.mapfoot {
	margin-bottom: 0px;
}


/* -------------------------
            NAV
--------------------------- */
.l-subheader.at_middle .w-nav-control {
	width: 36px;
	color: #346449;
}
.mastheadhome .l-section-h.g-html.i-cf {
	background-repeat: no-repeat;
	background-size: contain!important;
	background-position: 50% 100%;
	padding-bottom: 45%!important;
}
.mastheadhome h1 {
	color: #346449!important;
	font-weight: 800!important;
	text-transform: uppercase;
	text-align: left;
	font-size: 2.2em;
}
.mastheadhome p {
	margin-bottom: 20px;
	font-size: 1.3em;
	line-height: 1.6em;
}
.mastheadinner {
	text-align:center;
}
.mastheadinner h1 {
	font-size: 2em;
	color: #FFF!important;
    text-shadow: 2px 2px 2px #334745;
}
.mastheadinner h2 {
	font-size: 1.9em;
	text-align: center;
	font-style: italic;
}
.btntwo .g-btn.color_brown.size_big {
	padding: 16px 30px;
}


/* -------------------------------------------------------
 adding a class to the specific button to make padding fit
---------------------------------------------------------- */

.contactpage {

}

.contactpage h2 {
	text-align: center;
}
.contactpage h3 {
	text-align:center;
	padding-bottom: 5%;
}
span.callme {
	color: #346449;
	font-size:2em;
}
.contactpage h4 {
	text-align:center;
}
.l-section.wpb_row.mapfoot > .l-section-h.g-html.i-cf > .g-cols.wpb_row.offset_default > .one-half {
	width: 100%;
	margin-left: 0!important;
}
.l-section.wpb_row.mapfoot > .l-section-h.g-html.i-cf > .g-cols.wpb_row.offset_default > .one-half > .contact > .one-half {
	width: 50%;
	margin-left: 0!important;
	padding-left: 4%;
}
.vid {
	position: relative;
	overflow: hidden;
	/*  width: 75%;*/
	/* width: 53%;*/
	/*  padding-bottom:29%;*/
	width: 100%;
	padding-bottom: 57%;
	float:left;
	margin: 0 3%;
}
.vid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.google-maps {
	position: relative;
	padding-bottom: 55%;
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
/*home page paralax*/
.w-blog.imgtype_circle .w-blog-entry-preview {
	border-radius: 0px!important;
}

/*all page buttons*/
.g-btn.color_brown.size_big {
	border-radius: 0px;
}
.g-btn.color_brown.size_big:hover {
	background-color: #346449!important;
}
.homevid .l-section-img {
	background-size: inherit;
}
.homevid h2 {
	color: #f3ebdc;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-bottom: 3%!important;
}
.homevid .g-btn.color_primary.size_big {
	color: #494949;
	background-color: #F3EBDC;
}
.homevid h3 {
	color: #F3EBDC;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.5em;
}
.homevid p {
	color: #F3EBDC;
}
.homevid p, .why p {
	font-size: 1.2em;
}

.services {
	background-color: #f3ebdc;
}
.services h2 {
	color: #346449;
	text-transform: uppercase;
	font-weight: 700;
}
.services h3  {
	text-align:center;
}
.services h3 a {
	color: #4D4D4D;
}
.cta {
	background-color: #346449;
}
.cta .gform_wrapper .ginput_complex span > label, .gform_wrapper .ginput_complex span > label {
	display:none;
}
.cta li#field_1_2 {
	margin-left: 0px!important;
	width: 31%;
}
.cta li#field_1_3 {
	margin-left: 3%!important;
	width: 31%;
}
.cta .gform_wrapper textarea.medium {
	height: 130px;
	margin-top: 3%;
}
.cta .gform_wrapper .gform_footer {
	text-align: right;
	border-top: 1px solid #F3EBDC;
}

.cta .form {
	padding: 0 5%;
	background-color: rgba(255, 255, 255, 0.24);
}
.cta input#gform_submit_button_1 {
	background-color: #fff;
	color: #346449;
}
.cta .phone {
	margin-top: auto;
	padding-bottom: 5%;
	font-size: 1.4em;
	font-weight: 500;
	color: #fff;
}
.cta h3 {
	text-align: center;
	padding-bottom: 3%;
	font-size: 1.5em;
	color: #fff;
}
.callnow {
	padding: 3%;
	text-align: center;
	margin-bottom: 5%;
}
.callnow h3 {
	font-size: 3em;
	font-family: 'Josefin slab';
	color: rgb(239, 232, 219);
}
.callnow h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	color: rgb(239, 232, 219);
}
.callnow .gform_wrapper .top_label input.medium, .callnow .gform_wrapper .top_label select.medium {
	width: 97.5%;
}

.callnow .gform_wrapper ul li.gfield:first-of-type {
	margin-bottom: -1%!important;
}
.callnow .gform_wrapper li.hidden_label input {
	margin-top:0!important;
}
.callnow .gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text] {
	margin-bottom: 0%;
}
.callnow .gform_wrapper .gform_footer input.button {
	width: 100%;
	color: #EFE8DB;
	background-color: #59524C;
	border-bottom: 4px solid;
	border-radius: 0;
}
.callnow .gform_wrapper form {
	text-align: right;
}
.callnow .gform_wrapper label.gfield_label+div.ginput_container {
	margin-top: -0.625em;
}
.creds {
	margin: 0 auto;
}
.creds img {
	margin: 0px 20%;
	height: inherit;
	padding: 3%;
	width: 62%;
}
.testimon {
	background-position: 100%;
	background-size: contain;
}
.bloghome {
	background-color: #F3EBDC;
}
.bloghome h3 {
	text-align: center;
}
.why {
}
.why h3 {
	text-align: center;
	font-size: 2.2em;
}
.why h4 {
	font-size: 1.2em;
	font-weight: 800;
	font-style: italic;
}
.homeblog {
	background-color: #F3EBDC;
}
.homeblog a {
	color: #346449!important;
}
.homeblog a.pl-link-icon {
	color: white!important;
}
.homeblog a.pl-link-icon:hover {
	color: #299C8D!important;
}
.homeblog a.load-more-link {
	background: #346449!important;
	color: #f3ebdc!important;
}
.happy .theme_10 .testi-wrapper .quotes .quote-content {
	font-size: 2.5em;
	color: #6A4530;
}
.happy .theme_10 .testi-wrapper .testi-details .testi-text .testi-name {
	font-size: 3.5em;
	color: #299C8D !important;
}
.theme_4 .testi-wrapper .testi-details {
	text-align: justify!important;
}
.theme_4 .testi-wrapper .testi-details .testi-text .row {
	text-align: right!important;
}
.theme_4 .testi-wrapper .testi-details .testi-text .testi-name:before {
	content: "- ";
}
.theme_4 .testi-wrapper .testi-details .testi-text .testi-name {
	font-size: 24px!important;
	line-height: 26px!important;
	font-weight: bold;
	text-transform: uppercase;
}
.happy h3 {
	font-size: 3em;
	text-align: center;
}
.happy .g-btn.color_primary.size_big {
	color: #f3ebdc;
	background-color: #346449;
	margin-top: 3%;
}
/*google maps footer */
.mapfoot {
	background-color: #f3ebdc;
}
.mapfoot a {
	color: #333!important;
}
.mapfoot h3, mapfoot h4 {	
	color: #346449;
}
.mapfoot h3 {
	text-transform: uppercase;
	font-weight: 800;
}
.mapfoot .l-section-h {
	max-width:100%;
	padding: 0px 0px;
}
.green {
	color: #2e84c4!important;
	box-shadow: none;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: 3%;
}
.contact {
	padding: 2% 0;
}
.doc {
	font-weight: 900;
	font-size: 1.3em;
	line-height: 1em;
}
.creds_home {
	padding-top: 5%;
}
.creds_home img {
	height: 75px;
	width: auto;
}
.creds_home .misch {
	padding-top:5%;
}
.patients {
	line-height: 1em;
	font-weight: 600;
	font-size: 1.2em;
}
p.hours {
	font-size: 1.3em;
	line-height: 2.3em;
}
.l-section.wpb_row.mapfoot {
	padding-right: 0;
	padding-left: 0;
}
.mapfoot .g-html p {
	margin-bottom: 0%;
}
.l-subfooter.at_bottom, .l-subfooter.at_top {
	background-color: #346449!important;
}


/*overview page*/
.introimplant {
}
.introimplant h2 {
	font-size: 2em;
}
.introimplant p {
	font-size: 1.2em;
}
.overone{
	background-color: #F3EBDC;
}
.overone h3 {
	text-align: center;
	color: #346449;/*change this color*/
}
.overone h3 a {
	color: #346449;
}
.overone p {
	text-align: center;
	font-weight: 700;
}
.overviewmiddle {
}
.overviewmiddle p {
	font-size: 1.2em;
}
.overviewmiddle h2 {
	font-size: 3em;
	padding-bottom: 3%;
}
.overtwo {
}
.overtwo h3 {
	text-align: center;
	color: #346449;	
}
.overtwo p {
	text-align: center;
	font-weight: 700;
}
.overthree{
}
.overthree h3 {
	text-align: center;
	color: #346449;	
}
.overthree p {
	text-align: center;
	font-weight: 700;
}


/*end overview */

/*inside page navigation menu*/


.bone:before, .decay:before, .ivd:before, .prov:before, .cand:before, .proc:before, .benefit:before, .what:before, .why:before {
	float: left;
	display: inline-block;
	padding: 2% 6% 0% 4%;
}
div#nav_menu-2 #menu-overview-navigation li a:hover {
	background-color: rgba(255, 255, 255, 0.42)!important;
}
#nav_menu-2 .widget_nav_menu .menu-item.current-menu-item > a, div#nav_menu-2 .widget_nav_menu .menu-item.current-menu-item > a, .widget_nav_menu .menu-item.current-menu-item > a {
	background-color: transparent!important;
	color: rgba(52, 100, 73, 0.85)!important;
	font-weight: 900;
	border-top:none!important; background-color:rgba(0, 0, 255, 0.09)!important;
}
div#nav_menu-2 {
	padding: 5%;
	margin-bottom: 8%;
}
.widget_nav_menu .menu-item a {
	padding:12px 0px 17px 1px;
}
.widget_nav_menu .menu-item a:before {
	position: absolute;
	top: 12px;
	left: 10px;
	content: ''!important;
	width: 32px;
	height: 32px;
	opacity: 0.5;
}
.for_pagehead.size_huge .w-pagehead h1 {
	text-transform: none;
	font-family: 'Raleway';
}
.w-pagehead .g-breadcrumbs a {
	color: #346449;
}
.w-pagehead .g-breadcrumbs {
	font-weight: 700;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #FFFFFF;
}


/* -------------------------
	formStyle willthekid
--------------------------- */

.gform_body #input_1_1_3, .gform_body #input_1_6_6 {
	padding-left: 8px;
	margin-left: 2px;
}

.gform_body #input_1_4 {
	padding-left: 5px;
}

.gform_body #input_1_2 {
	padding-left: 5px;
	margin-left: 2px;
}

.gform_body #input_1_3 {
	padding-left: 5px;
	margin-left: 2px;
}



/* -------------------------
MEDIA QUERIES FOR BIGGER DEVICES
--------------------------- */

@media screen and (min-width: 396px) {
	.l-subheader .w-contacts-item {
		margin: 0;
	}
	.l-subheader .w-contacts-item i {
		line-height: 1.5em;
	}
	.l-subheader .w-contacts-item.for_phone .w-contacts-item-value {
		line-height: 1.4em;
	}

}
@media screen and (min-width: 480px) {
	.l-subheader.at_top .w-contacts-list {
		padding-top: 4%;
	}
}
@media screen and (min-width: 600px) {
	.bna {
		display: inline-block!important;
		width: 45%!important; /* for IE 6 */
	}
		
	.bna h2 {
		bottom: 7px!important;
	}
	  
	  
}
	
@media screen and (max-width: 767px) {
	.one-half.customFooterDiv {
		padding-left: 5%!important;
	}
}
@media screen and (min-width: 768px) {
	
	.bna {
		max-width: 400px;
	}
	.bna h2 {
		background-color: rgba(0,0,0,.4);
	}
	.mastheadhome .l-section-h.g-html.i-cf {
		background-size: contain!important;
		background-position: 50% 100%;
		padding-bottom: 50%!important;
	}
	.mastheadhome h1 { 
		font-size: 2.5em;
	}
	.mastheadinner h1 {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 780px) {
	.gform_wrapper .top_label input.small, .gform_wrapper .top_label select.small, .gform_wrapper .top_label input.medium, 
	.gform_wrapper .top_label select.medium, .gform_wrapper .top_label li.gfield.gf_inline, .gform_wrapper .top_label li.gfield.gf_inline input[type=text].medium, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=url].medium, .gform_wrapper .top_label li.gfield.gf_inline input[type=email].medium, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].medium, .gform_wrapper .top_label li.gfield.gf_inline input[type=number].medium, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=password].medium, .gform_wrapper .top_label li.gfield.gf_inline input[type=text].small, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=url].small, .gform_wrapper .top_label li.gfield.gf_inline input[type=email].small, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].small, .gform_wrapper .top_label li.gfield.gf_inline input[type=number].small, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=password].small, .gform_wrapper .top_label li.gfield.gf_inline input[type=text].large, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=url].large, .gform_wrapper .top_label li.gfield.gf_inline input[type=email].large, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=tel].large, .gform_wrapper .top_label li.gfield.gf_inline input[type=number].large, 
	.gform_wrapper .top_label li.gfield.gf_inline input[type=password].large, .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half, 
	.gform_wrapper .top_label li.gfield.gf_left_third, .gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third, 
	.gform_wrapper li.gfield.gf_list_2col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li, .gform_wrapper li.gfield.gf_2col ul.gfield_checkbox li, 
	.gform_wrapper li.gfield.gf_2col ul.gfield_radio li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_3col ul.gfield_radio li, 
	.gform_wrapper li.gfield.gf_3col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_3col ul.gfield_radio li, .gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li, 
	.gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li, .gform_wrapper li.gfield.gf_list_5col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_5col ul.gfield_radio li, 
	.gform_wrapper .ginput_complex span {
		float: none;
		width: 100%!important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.wpb_widgetised_column wpb_content_element #text-2 #gform_2 .gform_wrapper .top_level input.medium {
		width: 97.5%!important;
	}
	.cta li#field_1_3 {
		margin-left: 0%!important;
	}
	.bone:before, 
	.decay:before, 
	.ivd:before, 
	.prov:before, 
	.cand:before,
	.proc:before, 
	.benefit:before, 
	.what:before,
	.why:before {
		float: left;
		display: inline-block;
		padding: 1% 8% 0% 7%;
	}
} /* END MEDIA QUERY MAX-WIDTH: 780PX */

@media screen and (min-width:635px) and (max-width: 1024px) {
	.mapfoot .g-cols.offset_default > .one-half:first-of-type {
		width: 100%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.mastheadhome .one-half {
		width: 100%!important;
	}
	.mastheadhome .l-section-h.g-html.i-cf {
		background-position: 50% 100%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.l-subheader.at_middle {
		line-height: 60px!important;
	}
	.l-header .w-nav {
		float: right;
	}
	.type_desktop .menu-item-language > a, .l-header .type_desktop .w-nav-anchor.level_1, .type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
		font-size: 14px!important;
		padding: 0 12px!important;
	}
}
@media screen and (min-width: 900px) {
	.l-subheader .w-contacts-item {
		margin: 0;
	}
	.l-subheader .w-contacts-item i {
		line-height: 1.6em;
	}
	.l-subheader .w-contacts-item.for_phone .w-contacts-item-value {
		line-height: 1.5em;
	}
	.l-subheader.at_top {
		height: auto!important;
	}
	.l-subheader.at_top .w-contacts {
		float: right;
		margin-left: 15px;
	}
	.mastheadhome h1 {
		font-size: 2.7em;
	}
	.l-section.wpb_row.mapfoot > .l-section-h.g-html.i-cf > .g-cols.wpb_row.offset_default > .one-half {
		width: 50%;
		margin-left: 0!important;
	}
	.w-logo.with_transparent .w-logo-img > img.for_default {
		margin-bottom: -21px;
	}
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
	.green {
		font-size: 1em!important;
	}
	p.hours {
		font-size: 1em!important;
		line-height: 2em!important;
	}
}
@media screen and (min-width: 1024px) {
	.l-subheader.at_middle {
		line-height: 60px;
	}
	.g-cols.wpb_row.offset_default.contact {
		width: 80%;
	}
	.mastheadhome .l-section-h.g-html.i-cf {
		background-size: contain!important;
		padding-bottom: 30%!important;
	}
	.mastheadhome h1 { 
		font-size: 2em;
	}
	.cta .phone {
		margin-top: -5%;
	}
}
@media screen and (min-width: 1041px) {
	.l-header .w-nav {
		float: right;
	}
	.l-header .w-nav-anchor.level_1 {
		padding: 0 10px!important;
	}
	.mastheadinner h1 {
		font-size: 3em;
	}
}
@media screen and (max-width: 1080px) {
	.happy .theme_10 .testi-wrapper .quotes .quote-content {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 1200px) {
	.cta .phone {
		font-size: 1.8em;
	}
}
@media screen and (max-width: 1223px) {
	.introimplant h2 {
		font-size: 2em;
	}
}